@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body{
    font-family: 'Silkscreen', cursive;
    background-image: url(./asset/wallpaperbetter.com_1366x768.jpg);
    background-size: cover;
    background-size: 140rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 150px;
    margin-top: 30px;
    border: 5px solid white;
    border-radius: 20px;
    margin-bottom: 15px;
    background: #11468f;
    padding: 20px;
}

#ver-mapa {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitulo {
    color: white;
    font-size: 30px;
    background: #11468f;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tarjeta-de-mokepon {
    width: 250px;
    height: 150px;
    background: #11468f;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 5px solid white;
}

.tarjeta-de-mokepon img {
    width: 100px;
}

#boton-mascota {
    font-family: "Silkscreen", cusive;
    width: 200px;
    height: 50px;
    border: white solid 5px;
    border-radius: 20px;
    color: white;
    background: transparent;
    margin: 50px
}

input {
    display: none;
}

input:hover + label {
    background-color: #5D8BF4;
}

input:checked + label {
    background-color: #5D8BF4;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    font-family: "Silkscreen", cusive;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #11468f;
    border-radius: 20px;
    border: 5px solid white;
    margin: 15px
}

#mensajes {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    background: transparent;
    width: 320px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    border: 5px solid white;
}

#boton-Reiniciar {
    font-family: "Silkscreen", cusive;
    color: white;
    border-radius: 20px;
    background: #11468f;
    border: 5px solid white;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 200px;
    justify-items: center;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 5px;
}

.ataques-jugador, .ataques-enemigo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    border: 5px white solid;
    border-radius: 20px;
    background-color: #11468f;
}

#ver-mapa button {
    font-family: "Silkscreen", cusive;
    color: white;
    width: 100px;
    height: 100px;
    border: white solid 5px;
    border-radius: 100px;
    background: #11468f;
    margin: 20px 5px;
}

.subtitulo-2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    border: 5px solid white;
    border-radius: 20px;
    background: #11468f;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
}

@media (max-width: 500px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
        margin: 10px;
        gap: 5px;
    }
    
    .titulo {
        color: white;
        font-size: 55px;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    
    .subtitulo {
        color: white;
        font-size: 25px;
        background: #11468f;
        border: 5px solid white;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    #mensajes {
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: white;
        background: transparent;
        width: 225px;
        border-radius: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
        padding: 15px;
        align-items: center;
        flex-direction: column;
        border: 5px solid white;
    }

    .ataques {
        display: grid;
        grid-template-columns: 100px 100px;
        gap: 70px;
        justify-items: center;
    }

    .ataques-jugador, .ataques-enemigo {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;
        border: border 5px white solid;
        border-radius: 20px;
        background-color: #11468f;
    }

    .boton-ataque {
        font-family: "Silkscreen", cusive;
        width: 150px;
        height: 50px;
        color: white;
        background-color: #11468f;
        border-radius: 20px;
        border: 5px solid white;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
    }
}